# Example environment variables.
# Copy this file to .env and fill in your actual values.

# API Keys
# SOME_API_KEY="your_api_key"

# Example of overriding config.default.yaml with environment variables
# APP__database__user="my_user"
# APP__database__password="my_password"
