# ---------------------------------------------------------
# Environment Variables (.env)
# ---------------------------------------------------------
# This file is used to inject environment variables into 
# your Docker container or local environment.
# 
# Prefix variables with APP__ to automatically override 
# values defined in config.default.yaml.
# 
# SECURITY WARNING: Do not commit your actual .env file 
# to version control if it contains secrets (like passwords 
# or API keys). Keep this .env.example file as a template!
# ---------------------------------------------------------

# Example overrides for visual bulk inference:
# (These paths assume you mount your local data folder to /app/data inside the container)
APP__inference__checkpoint_path=/app/data/model/best_coco_bbox_mAP_50_epoch_4.pth
APP__inference__input_dir=/app/data/inference_samples
# APP__inference__results_dir=/app/data/inference_samples/results  # Optional: defaults to <input_dir>/results
APP__inference__conf_threshold=0.5
APP__inference__slice_size=512
APP__inference__overlap_ratio=0.2
APP__inference__device=cuda:0

# COCO evaluation path (used only by evaluation script inference.py)
APP__inference__coco_json_path=/app/data/annotations/instances_valid.json
APP__inference__dataset_dir=/app/data/images
